.chef{
    background-color:#F7F6F4 ;
    text-align: center;
    &__wrap{
        margin: 5rem 0;
        margin: 0 12rem;
        text-align: center;
    }
    &__title{
        font-size: 3rem;
        margin-bottom: 0;
        padding-top: 2rem;
    }
    &__title-red{
        color:#F54749 ;
   
    }
    &__tag{
        font-size: 1rem;
       margin-top: 0;
       padding-bottom: 2rem;
       font-weight: bold;
    }
    &__imgs{
        display: flex;
        margin-top: 3rem;
    }
    &__img{
        width: 18rem;
        height: 18rem;
        // margin-right: 2rem;
        border-radius: 10px;
    }
}