a{
  text-decoration: none;  
}
li{
    list-style: none;
}
.nav{
    background-color: #000;
    &__list{
        display: flex;
        margin: 0;
    }
    &__items{
        display: flex;
        margin-left: 20rem;
        color: white;
        margin-top: 1rem;
    }
    &__home{
        margin-right: 3rem;
    }
    &__menu{
        margin-right: 3rem;

    }
    &__about{
        margin-right: 3rem;

    }

}